# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# CMake

CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Testing
Makefile
cmake_install.cmake
install_manifest.txt

# project executables
reversi
reversi_tests
build/**
!build/.gitkeep

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
*_automoc.cpp
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

*.depends
